<div class="relative p-6 overflow-hidden"><img src="https://blocks.primeng.org/assets/images/blocks/hero/hero-2.jpg"
    alt="Image" class="absolute top-0 left-0 w-auto h-full block md:w-full">
  <div class="text-center my-6 relative">
    <div class="text-6xl text-white font-bold mb-1">The Platform For</div>
    <div class="text-6xl text-primary font-bold mt-4 mb-4">Today's Generation</div>
    <p class="mt-0 mb-4 line-height-3 text-center mx-auto text-white" style="max-width: 500px;">Making invoices is simple.
       All the information you wish to appear on your invoice should be entered into the template.
        The invoice editor accurately depicts how the final invoice will appear. 
        You are prepared to download or submit your invoice once you have completed the invoice template.
    </p><button pbutton="" pripple="" label="Learn More" type="button"
      class="p-element p-ripple p-button p-component"><span class="p-button-label">Learn More</span><span
        class="p-ink"></span></button>
    <p class="text-sm mt-4 mb-4 line-height-3 text-white">Available for MacOS, Web and Google accounts only</p>
    <div class="flex justify-content-center align-items-center"><a href="https://www.apple.com"
        class="text-white mr-3"><i class="pi pi-apple text-2xl"></i></a><a href="https://play.google.com"
        class="text-white mr-3"><i class="pi pi-android text-2xl"></i></a><a href="https://www.facebook.com"
        class="text-white"><i class="pi pi-facebook text-2xl"></i></a></div>
  </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl"><span class="text-900">One Product, </span><span class="text-blue-600">Many
      Solutions</span></div>
  <div class="text-700 mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5"><span class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px;"><i class="pi pi-desktop text-4xl text-blue-500"></i></span>
      <div class="text-900 text-xl mb-3 font-medium">Built for Developers</div><span
        class="text-700 line-height-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5"><span class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px;"><i class="pi pi-lock text-4xl text-blue-500"></i></span>
      <div class="text-900 text-xl mb-3 font-medium">End-to-End Encryption</div><span
        class="text-700 line-height-3">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin
        aliquam ultrices sagittis.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5"><span class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px;"><i class="pi pi-check-circle text-4xl text-blue-500"></i></span>
      <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div><span class="text-700 line-height-3">Ornare
        suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5"><span class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px;"><i class="pi pi-globe text-4xl text-blue-500"></i></span>
      <div class="text-900 text-xl mb-3 font-medium">Fast &amp; Global Support</div><span
        class="text-700 line-height-3">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum
        tellus.</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5"><span class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px;"><i class="pi pi-github text-4xl text-blue-500"></i></span>
      <div class="text-900 text-xl mb-3 font-medium">Open Source</div><span class="text-700 line-height-3">Nec
        tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat.
      </span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3"><span class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px;"><i class="pi pi-shield text-4xl text-blue-500"></i></span>
      <div class="text-900 text-xlmb-3 font-medium">Trusted Securitty</div><span
        class="text-700 line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus
        aliquam eleifend.</span>
    </div>
  </div>
</div>
<div class="surface-section px-4 pb-8 md:px-6 lg:px-8">
  <div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between"
    style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%);">
    <div class="pr-6">
      <div class="text-blue-100 font-medium text-xl mb-3">TAKE THE NEXT STEP</div>
      <div class="text-white font-medium text-5xl">Enpower your customer experience</div>
    </div>
    <div class="mt-4 mr-auto md:mt-0 md:mr-0"><button pbutton="" routerLink="/customer" pripple="" label="Get Started"
        class="p-element p-ripple font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap p-button p-component"><span
          class="p-button-label">Get Started</span><span class="p-ink"></span></button></div>
  </div>
</div>


<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div>
      <div class="text-900 font-bold text-4xl line-height-3 mb-3 text-center">Continue Breaking Records</div>
      <p class="text-600 line-height-3 text-lg m-0 mb-6 text-center">Excepteur sint occaecat cupidatat non proident, sunt
        in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="grid surface-card shadow-2" style="border-radius: 10px;">
        <div class="col-12 md:col-3 px-5 py-5"><i class="pi pi-users text-4xl text-blue-600 mb-3"></i>
          <div class="text-900 font-bold text-4xl mb-3 line-height-3">83M</div>
          <p class="text-700 m-0">Instant invoices.</p>
        </div>
        <div class="col-12 md:col-3 px-5 py-5"><i class="pi pi-chart-line text-4xl text-orange-500 mb-3"></i>
          <div class="text-900 font-bold text-4xl mb-3 line-height-3">$256K</div>
          <p class="text-700 m-0">Invoice from any device.</p>
        </div>
        <div class="col-12 md:col-3 px-5 py-5"><i class="pi pi-globe text-4xl text-cyan-600 mb-3"></i>
          <div class="text-900 font-bold text-4xl mb-3 line-height-3">1,453</div>
          <p class="text-700 m-0">Trusted by millions.</p>
        </div>
        <div class="col-12 md:col-3 px-5 py-5"><i class="pi pi-map text-4xl text-purple-500 mb-3"></i>
          <div class="text-900 font-bold text-4xl mb-3 line-height-3">45 km</div>
          <p class="text-700 m-0">100% FREE.</p>
        </div>
      </div>
    </div>
  </div>