<div class="card">
    <!-- <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!deleteId || !deleteId.length"></button>
        </ng-template>
    </p-toolbar> -->
   
    <p-table styleClass="p-datatable-responsive-demo" [loading]="loading" #dt [value]="invoiceArr" [rows]="10" [paginator]="true" [globalFilterFields]="['custdata.name','invoiceno','createdOn','totalamount']"
         [rowHover]="true" dataKey="_id" [(selection)]="deleteId"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between mb-3">
                <h3 class="m-0">Invoice Data</h3>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
            <p-toolbar styleClass="p-mb-4 p-mt-2">
                <ng-template pTemplate="left">
                    
                    <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!deleteId || !deleteId.length"></button> 
                </ng-template>
        
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Add New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                </ng-template>
            </p-toolbar>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <!-- <p-checkbox (click)="selectRow(e.checked)" #e></p-checkbox> -->
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="name">Customer Name<p-sortIcon field="Users.firstName"></p-sortIcon></th>
                <th pSortableColumn="createdOn">Customer Contact<p-sortIcon field="createdOn"></p-sortIcon></th>
                <th pSortableColumn="invoiceno">Invoice No <p-sortIcon field="invoiceno"></p-sortIcon></th>
                <th>Payment Type</th>
                <th>Payment Link</th>
                <th>Status</th>
                <th>Amount Received</th>
                <th pSortableColumn="totalamount">Total Amount <p-sortIcon field="totalamount"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pSelectableRow]="product">
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>
                    <span *ngIf="product.Users"> {{product.Users.firstName | uppercase}}</span>
                    <span *ngIf="!product.Users">-</span>   
                </td>
                <td>
                    {{product.Users.contact}}
                </td>
                <td>
                    {{product.invoiceno}}
                </td>
                <td>{{product.paymentType == 1 ? 'Payment Link' : 'Payment Gateway'}} </td>
                <td> <a href="{{product.payDetail.link_url}}" target="_blank">Payment Link</a>  </td>
                <td> <p-tag value="{{product.payDetail.link_status}}" (click)="getPaymentStatus(product.payDetail.link_id)" severity="warning" icon="pi pi-refresh pi-spin"></p-tag></td>
                <!-- {{getPaymentStatus(product.paymentDetail.link_id)}} -->
                <td> <span *ngIf="product.payDetail.link_amount_paid"><span> {{product.payDetail.link_amount_paid}} </span> </span>
                    <span *ngIf="!product.payDetail.link_amount_paid">-</span>
                 </td>
                <td>{{product.totalamount}}</td>
                <td> 
                     
                    <!-- <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-help p-mr-2" (click)="getReadPdf(product)"></button> -->
                    <button pButton pRipple icon="pi pi-file-pdf" class="p-button-rounded p-button-danger mr-1" (click)="getReadPdf(product)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-1" (click)="editInvoice(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteInvoice(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-center">
                In total there are {{invoiceArr ? invoiceArr.length : 0 }} Invoices.
            </div>
        </ng-template>
    </p-table>
    
   
        <div class="dropin-parent" id="drop_in_container">
     
        </div>
</div>

<p-dialog [(visible)]="invoiceDialog"  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [modal]="true" styleClass="p-fluid">
   
   <ng-template pTemplate="header"> 
    <h4 class="text-center">
         <span *ngIf="!showHeader">Invoice Details</span>
         <span *ngIf="showHeader"> Only Name and Date can be changed</span> 
    </h4>
   </ng-template>
    <form [formGroup]="invoiceGroup">
    
        <div class="p-field mb-4 mt-2">
            <label for="name" class="mb-2">Customare Name</label>
            <p-autoComplete placeholder="Select Customer" formControlName="customer_id" [suggestions]="filteredData"
  (completeMethod)="filterCountry($event)" field="name">
  <ng-template let-country pTemplate="item">
    <div class="country-item">
      <div>{{country.name}}</div>
    </div>
  </ng-template>
</p-autoComplete>

            <!-- <p-dropdown [options]="custArray" placeholder="Select Customer" formControlName="customerId" optionLabel="name" optionValue="id"></p-dropdown> -->
        </div>
        
        <div class="p-fluid p-form-grid grid">
            <div class="p-field md:col-12 lg:col-6">
                   <span>Select Payment Type</span>
                   </div>
                   <div class="p-field md:col-12 lg:col-6">
                       <span>
                        <p-dropdown [options]="paymentArray" placeholder="Select Payment Method" formControlName="paymentType" optionLabel="name" optionValue="value"></p-dropdown>
                       </span> 
                   </div>


                   <div class="p-field md:col-12 lg:col-6" *ngIf="invoiceGroup.get('paymentType').value == 2">
                    <span>Select Payment Gateway Method</span>
                    </div>
                   <div class="p-field md:col-12 lg:col-6" *ngIf="invoiceGroup.get('paymentType').value == 2">
                    <span>
                        <p-multiSelect [options]="typesmethod" formControlName="methodtype" defaultLabel="Select a Method type" optionLabel="name" optionValue="value" display="chip"></p-multiSelect>
                    </span> 
                </div>
                   
                   <div class="p-field md:col-12 lg:col-6">
                    <input type="text" #code (input)="code.value = code.value.toUpperCase()" pInputText placeholder="Select Currency" formControlName="link_currency">
                   </div>
                   <div class="p-field md:col-12 lg:col-6">
                    <input type="text" pInputText placeholder="Select Purpose" formControlName="link_purpose" value="invoice">
                   </div>
                   <div class="p-field field-checkbox md:col-12 lg:col-6"  *ngIf="invoiceGroup.get('paymentType').value == 1">
                    <label for="date">Do you want partial payment</label> <br>
                    <p-radioButton name="link_partial_payments" [value]="true" label="Yes" formControlName="link_partial_payments"></p-radioButton>
                    <p-radioButton name="link_partial_payments" [value]="false" label="No" formControlName="link_partial_payments"></p-radioButton>
                    
                   </div>

                   <div class="p-field field-checkbox md:col-12 lg:col-6"  *ngIf="invoiceGroup.get('paymentType').value == 1">
                    <input type="number" pInputText placeholder="Enter Minimum Amount" formControlName="link_minimum_partial_amount">
                   </div>

                   <div  class="flex justify-content-around align-items-center w-full" formGroupName="link_notify" *ngIf="invoiceGroup.get('paymentType').value == 1">
                    <div class="p-field md:col-12 lg:col-6 text-center">
                        <label for="date">Send SMS</label> <br>
                        <p-radioButton class="mr-2" name="send_sms" [value]="true" label="Yes" formControlName="send_sms"></p-radioButton>
                        <p-radioButton name="send_sms" [value]="false" label="No" formControlName="send_sms"></p-radioButton>
                        
                    </div>
                    <div class="p-field md:col-12 lg:col-6 text-center">
                        <label for="date">Send EMAIL</label> <br>
                        <p-radioButton class="mr-2" name="send_email" [value]="true" label="Yes" formControlName="send_email"></p-radioButton>
                        <p-radioButton name="send_email" [value]="false" label="No" formControlName="send_email"></p-radioButton>
                        
                    </div>
                </div>
            <div class="p-field col-12 md:col-6 lg:col-6">
                <label for="date">Invoice Date</label>
                <p-calendar appendTo="body" [touchUI]="true" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" formControlName="invoicedate" dateFormat="dd.mm.yy"></p-calendar>
                
            </div>
            <div class="p-field col-12 md:col-6">
                <label for="number">Invoice Number</label>
                <input type="number" pInputText placeholder="Invoice Number" formControlName="invoiceno">
                <!-- <input type="number" pInputText > -->
            </div>
            </div>  
         <!-- <div class="p-field mb-4 mt-2">
                    </div> -->
        <div class="p-field">
            <div class="flex justify-content-around align-items-center mb-4">
                <span><h3>Item </h3></span>
               <div>
                <button pButton pRipple label="Add Item" icon="pi pi-plus" (click)="addItem()" class="p-button-text p-button-raised p-button-success p-button-sm"></button>
               </div>
            </div>
        

           <div class="invyitem mt-3" formArrayName="item">

            <div class="mt-3" *ngFor="let emp of invoiceitem.controls; let i = index">
                <div [formGroupName]="i">
                    <div class="flex justify-content-around align-items-center mb-4">
                        <div>
                            <span style="width: 100%">
                            <p-dropdown [style]="{'minWidth':'100%'}" [options]="itemArr" placeholder="Select Item" formControlName="item_id"  optionLabel="name" optionValue="id"></p-dropdown>
                       </span>
                        </div>
                        <div>
                            <input type="number" pInputText placeholder="Quantity" formControlName="quantity">
                        </div>
                    </div>
                   
                
            </div>
        </div>
           </div>
        </div>
        
        <!-- <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-field">
            <label class="p-mb-3">Category</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category2">Clothing</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category3">Electronics</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category4">Fitness</label>
                </div>
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
            </div>
        </div> -->
    <div class="p-field">
        <div class="flex align-items-center  justify-content-between">
            <div>
                <button type="button" pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-raised" (click)="invoiceDialog = false"></button>
            </div>
            <div>
                <button type="submit" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-raised" (click)="fnSubmit()"></button>
            </div>
            
            
        </div>
        </div>
</form>
</p-dialog>
<p-dialog [(visible)]="invoicepdf" [modal]="true" [breakpoints]="{'1000px': '75vw', '640px': '100vw'}" [style]="{width: '90vw'}">
   <div id="invoiceId" #invoiceId> 
    
   </div>
</p-dialog>
<p-toast position="bottom-right" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> 